{% extends "base.html" %}

{% block title %}AMA Tablr{% endblock %}

{% block xhead %}
<style type="text/css">
    body { padding-top: 20px; }
</style>
{% endblock %}

{% block content %}
<div>
    <h1>IAmA Table Generator</h1>
    <p>Inspired by the fine work done by <a href="http://www.reddit.com/user/Helpful_Table_Maker">Helpful_Table_Maker</a> and the <a href="http://www.reddit.com/r/tabled">r/tabled</a> community, this page parses AMAs into an easy-to-read Q&A format.</p>
    <p>If you have any questions, comments or improvements, your input is welcome on the Github issues tracker (link to follow).</p>
</div>

<div>
    <form action="" method="POST" class="form-horizontal">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-block alert-error">
            <a href="#" class="close">x</a>
            <h4 class="alert-heading">Invalid url ({{ url }})</h4>
            <p>Please input a page like "http://www.reddit.com/r/tabled/comments/fwpzj/" or "fwpzj"</p>
        </div>
        {% endif %}
        
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="page">Link to AMA:</label>
                <div class="controls">
                    <input type="text" name="page"/>
                    <p class="help-block">Input a (reasonable) fragment of the url containing the id (like "fwpzj")</p>
                </div>
            </div>
            
            <p>or try an AMA from <a href="http://www.reddit.com/r/IAmA">the current AMA frontpage</a>:
                <ul>
                    {% for ama in amas %}
                    <li><a href="{{ ama.id }}">{{ ama.title }}</a> - {{ ama.author }}</li>
                    {% empty %}
                    <li>Seriously? Everything on the frontpage appears to be an AMA request.</li>
                    {% endfor %}
                </ul>
            </p>
        </fieldset>
    </form>
</div>
{% endblock %}
