{% extends "base.html" %}
{% load tablr %}

{% block title %}{{ post.title }}{% endblock %}

{% block xhead %}
<style type="text/css">
    body { padding-top: 20px; }
    blockquote { border: none; }
    blockquote p { 
        font-size: 13px;
        line-height: 18px;
    }
</style>
{% endblock %}

{% block content %}
<a href="{% url tablr.views.home %}">&laquo; Home</a>
<div id="post" class="well">
    <h3>
        <a href="http://www.reddit.com{{ post.permalink }}">{{ post.title }}</a>
        <small>- <a href="http://www.reddit.com/user/{{ post.author }}">{{ post.author }}</a></small>
    </h3>
    {{ post.selftext_html|parse }}
</div>

<div id="responses">
    <table class="table">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>
        {% for q, a in responses %}
            <tr>
                <td>
                    <blockquote>
                        <p>{{ q.body_html|parse }}</p>
                        <small><a href="http://www.reddit.com/user/{{ q.author }}">{{ q.author }}</a> (<a href="http://www.reddit.com{{ post.permalink }}{{ q.id }}">thread</a>)</small>
                    </blockquote>
                </td>
                <td>{{ a.body_html|parse }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">{{ post.author }} has not responded to any top-level questions in this AMA.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="bbcode" class="well">
    <h3>Pre-formatted Table</h3>
    <p>The following table *should* be suitable for copying and pasting into a reddit comment, but please check the results manually. (Ctrl-a + ctrl-c to copy)</p>
    <textarea>Comment | Response
:-- | :--
{% for q, a in responses %}{{ q.body|condense }} | {{ a.body|condense }}
{% endfor %}
    </textarea>
</div>
{% endblock %}
